<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}

</style>

<div class="row">
    <h1>Actions</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Times</th>
        </tr>
        {{#each actions}}
        <div class="row">
        <tr>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
        </tr>
        {{/each}}
        </div>
    </tabel>
</div>